
/*faire que tout les text sois en font Roboto

*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #fff;
}

/*les titres h1 h2 h3 h4 h5 h6 sois en font Roboto 

*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto ', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
}
h1 {
  font-size :20px;
  text-align :center;
}

.tick text {
  font-size: 16px;
}
 
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}



.notation    {
  text-align :center;

}



.tooltip {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
.personnages svg{
  
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 

}

#black-circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  right: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:'Courier New';
  font-weight:bold;
  color: black;
  border: 2px solid black;
}

#black-circle:before {
  content : "i";
}

/* #black-circle::after {
  content: '';
  position: absolute;
  top: -30px;
  right: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent white white;
  transform: rotate(45deg);
  z-index: -1;
} */

#popup-legendes {
display: none;
position: absolute;
top: 120px;
right: 120px;
padding: 20px;
/*width: 300px;*/
/*height: 500px;*/
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border-radius: 5px;
/*transform: translate(-50%, -50%) translateX(-10%);*/
}



#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}


button.active {
  background-color: black;
  color: white;
}

button.hover {
  background-color: black;
  color: white;
}

button {
  background-color: #f9f9f9;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

